$default-color: aqua;
$bg-main: #FCFCFC;
$bg-table: #f1f0f0;
$color_white: #fff;
$color_lightGrey: #A9A5A5;
$color_darkGrey: #404040;
$color_blue: #4174a0;
$border-default: 1px solid #f5f5f5;
$border-active: 1px solid #dcdcdc;
$tone-green: #439b5e;
$tone-red: #a04141;
$tone-grey: #A9A5A5;
$nav: #DADADA;
$nav-active: #0E72CF;
// font-sizes
$fs_xss: 10px;
$fs_xs: 12px;
$fs_sm: 14px;
$fs_mm: 16px;
$fs_md: 24px;